.load-more {
    display: flex;
    justify-content: center;
}

.load-more button {
    background-color: #2e6eac;
    color: white;
    width: auto;
    padding: 2%;
    border-radius: 0;
    outline: none;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}