.home-bg {
  margin-top: 5%;
  width: 100%;
  height: 280px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.home-bg input {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  width: 50%;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  outline: none;
  padding: 20px;
  font-size: 20px;
}

.home-content {
  width: 100%;
  padding: 5%;
}

.home-content-separator {
  width: 33%;
  height: 250px;
  float: left;
  padding: 1%;
  margin-bottom: 5%;
}

.home-content-post-card {
  width: 100%;
  height: 60%;
  background-color: #2a2a2a;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 35px;
}

.home-content-post-title {
  width: 100%;
  height: auto;
  padding: 2%;
  color: #2e6eac;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 20px;
  margin-bottom: 4%;
}

.home-content-post-description {
  width: 100%;
  height: auto;
  padding: 2%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.home-content .loader {
  border-top: 1.1em solid rgba(227, 227, 227, 0.9);
  border-right: 1.1em solid rgba(227, 227, 227, 0.9);
  border-bottom: 1.1em solid rgba(227, 227, 227, 0.9);
  border-left: 1.1em solid #2a2a2a;
}

.category-linux {
  background-color: #2a2a2a !important;
}

.category-react {
  background-color: #5ed3f3 !important;
  color: #267c94 !important;
}

.category-typescript {
  background-color: #0076c6 !important;
}

.category-javascript {
  background-color: #efd81d !important;
  color: black !important;
}

.category-java {
  background-color: #fffeff !important;
  color: #e63131 !important;
  border: 1px solid #0474c2 !important;
}

.category-angular {
  background-color: #d6002f !important;
}

.category-vue {
  background-color: #3fb27f !important;
  color: #33485c !important;
}

.category-others {
  background-color: #2e4159 !important;
}