* {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.content {
  margin-top: 10%;
}

.button:disabled, button[disabled] {
  background-color: #cccccc !important;
  cursor: not-allowed !important;
}